
<% if @post.favorited_by?(current_user) %>
	<%= link_to post_favorite_path(@post), method: :delete, remote: true do %>
			<p><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red; font-size: 18px;"></span>
			<%= @post.favorites.count %>いいね</p>
	<% end %>
<% else %>
	<%= link_to post_favorites_path(@post), method: :post, remote: true do %>
			<p><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: gray; font-size: 18px;"></span>
			<%= @post.favorites.count %>いいね</p>
	<% end %>
<% end %>