<div class="container">
	<h2>post.all</h2>
	<nav class="row row-eq-height">
		<ul class="card">
			<% @posts.each do |posts| %>
			<li class="post-list">
				<%= link_to post_path(posts.id) do %>
				<%= attachment_image_tag posts , :main_image, :fill, 250, 250 %>
				<% end %>
				<div class="card-body inner-box">
					<h4 class="card-text">タイトル</h4>
					<p class="card-text"><%= posts.post_title %></p>
				</div>
			</li>
			<% end %>
		</ul>
	</nav>
</div>