// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder-list {
	float: left;
	margin: 30px;
	width: 270px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	box-shadow: 10px 10px 15px -10px #DDDDDD;
}

.folder-delete {
	font-size: 10px;
	float: right;
	margin: 10px;
}