// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


.post-list {
	list-style: none;
	float: left;
	margin: 30px 12px 12px 12px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 1px #DDDDDD;
}

label{
	padding: 5px 0 0 5px;
}

.post-show {
	margin: 30px 0 20px 0;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 1px #DDDDDD;
}

.post-text {
	margin: 15px;
}

li {
	list-style: none;
}

.post-date {
	margin-left: 18px;
}

#post-title{
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}


// ========= コメントホバー　↓ ===============

.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box .label-hover {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    border-radius: 5px;
}

/*ボタンホバー時*/
.hidden_box .label-hover:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.comment-list {
	margin: 5px 0;
	border: solid 1px #CCCCCC;
	box-shadow: 0 1px 1px #DDDDDD;
	border-radius: 5px;
}

#comment-text {
	margin: 10px 0 0 10px;
}


