// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


.post-list {
	list-style: none;
	float: left;
	margin: 12px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 1px #DDDDDD;
}

label{
	padding: 5px 0 0 5px;
}

.post-show {
	margin-bottom: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 1px #DDDDDD;
}

.post-text {
	margin: 15px;
}