// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
 @import "bootstrap";


.user-list {
	list-style: none;
	float: left;
	margin: 10px;
}

.row-eq-height {
    flex-wrap: wrap;
}

.inner-box {
	height: 100%;
}


.form-user.style-1 {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #DDDDDD;
}

.field {
	margin: 20px;
}

.field-form {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
}

input::placeholder {
  color: #CCCCCC;
}


.form-header-title {
	font-family: 'serif';
}