// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
 @import "bootstrap";


.user-list {
	list-style: none;
	float: left;
	margin: 10px;
}

.row-eq-height {
    flex-wrap: wrap;
}

.inner-box {
	height: 100%;
}


.form-user.style-1 {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #DDDDDD;
}

.field {
	margin: 20px;
}

.field-form {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
}

input::placeholder {
  color: #CCCCCC;
}


.form-header-title {
	font-family: 'serif';
}

.is-fixed {
            position: fixed;
            top: 75px;
            left: 0;
            z-index: 1;
            width: 100%;
        }

 .articles-Wrapper {
            text-align: center;
            background-color: #EEEEEE;
            color: white;
            min-width: 1200px;
            border-bottom: 1px solid #DDDDDD;
            box-shadow: 0 1px 1px #DDDDDD;
        }

.flex {
    display: flex;
}

.user-menu {
	float: left;
	padding: 20px 40px 0 40px;
	text-decoration: none;
	color: #333;
}

.follow-user {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 1px #DDDDDD;
}

.follow_content {
  margin: 20px;
}

.follow-list {
  list-style: none;
  float: left;
  margin: 30px 20px 12px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px #DDDDDD;
}



